<div class="row bg-primary mt-2 mx-4" style="height: 98%;">

    <div class="col-1 bg-info">&nbsp;1</div>
    <div class="col-10">b
        <div>
            <app-dice-input></app-dice-input>
        </div>
        <div class="row">
            <div class="col-7">
                <app-dice-results></app-dice-results>
            </div>
            <div class="col-5">
                <app-dice-report></app-dice-report>
            </div>
        </div>
    </div>
    <div class="col-1 bg-info">&nbsp;c</div>
</div>