<div class="row bg-secondary mt-2 mx-4" style="height: 95vh;">

    <div class="col-1 bg-info">&nbsp;</div>
    <div class="col-10">
        <div>
            <app-dice-input></app-dice-input>
        </div>
        <div class="row bg-secondary" style="height: 73vh;">
            <div class="col-6">
                <app-dice-results></app-dice-results>
            </div>
            <div class="col-6">
                <app-dice-report></app-dice-report>
            </div>
        </div>
    </div>
    <div class="col-1 bg-info">&nbsp;</div>
</div>